<launch>

    <node pkg="grid_map_tests" type="gridmap_bridge_node" name="gridmap_bridge_node" output="screen">
        <!-- Input topic -->
        <param name="input_topic" value="/elevation_mapping/elevation_map_raw" />
        <!-- Output topic -->
        <!-- Load grid map filter chain configuration -->
        <rosparam command="load" file="$(find grid_map_tests)/config/filter_chain.yaml" />
    </node>

</launch>